.cart {
  flex: 1;

  &__info {
    gap: 20;
  }

  &__info-item {
    align-items: baseline;
    gap: 10px;

    span {
      order: -1;
    }

    &::before {
      flex: 1 0 20px;
      border-bottom: 1px dashed #dfdfdf;
      content: '';
    }
  }

  &__footer {
    margin-top: auto;
  }
}
